<h1>New Employee Form</h1>
<%= form_for @employee do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label :title %>
<%= f.text_field :title %><br>

<%= f.label :company_id %>
<%= f.number_field :company_id %><br>

<%= f.submit %>
<% end %>