<h1><%= @company.name %></h1>
<ul>
<% @company.offices.each do |o| %>
<li>Company: <%= o.company.name %><br>
Building: <%= o.building.name %></li><br><br>
<% end %>
</ul>
Rent total: <%= @company.total_rent %><br><br>
Employee list:<br><br>
<%= button_to 'New Employee', companies_new_employee_path, method: :post %>
<ul>
<% @company.employees.each do |e| %>
<li><%= e.name %>
</li><br>
<% end %>
</ul>